<section class="splash-section">
  <h1 class="splash-h1">BudgetBuddy</h1>
  <div class="splash-btn-container">
    <div class="splash-btn-div"><button class="btn"><%= link_to "LOG IN", new_user_session_path %></button></div>
    <div class="splash-btn-div"><button class="btn btn-sign-up"><%= link_to "SIGN UP", new_user_registration_path %></button></div>
  </div>
</section>
